# Make vim the default editor
export EDITOR="vim"
export IDE="Sublime Text" # "Visual Studio Code" or "Atom"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Configure Composer path
export PATH="~/.composer/vendor/bin:$PATH"
