# toggle hidden files
function showhidden {
    if [ -n "$1" ] && [ "$1" = false ]; then
        defaults write com.apple.finder AppleShowAllFiles NO && killall Finder && echo "Hidden files are now not visible";
    else
        defaults write com.apple.finder AppleShowAllFiles YES && killall Finder && echo "Hidden files are now visible";
    fi
}

# open the IDE for a location
code () {
  if [[ $# = 0 ]]
  then
    open -a "$IDE" .
  else
    [[ $1 = /* ]] && F="$1" || F="$PWD/${1#./}"
    open -a "$IDE" "$F"
  fi
}

# get the machines timezone
function gettimezone() {
    TZ_STRING="$(sudo systemsetup -gettimezone)"

    echo ${TZ_STRING/Time\ Zone\:/} | sed 's/\//\\\//g'
}

# whois a domain or a URL
function whois() {
    local domain=$(echo "$1" | awk -F/ '{print $3}') # get domain from URL
    if [ -z $domain ] ; then
        domain=$1
    fi
    echo "Getting whois record for: $domain …"

    # avoid recursion
                    # this is the best whois server
                                                    # strip extra fluff
    /usr/bin/whois -h whois.internic.net $domain | sed '/NOTICE:/q'
}

